body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.logo-container {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 100px; /* Adjust based on actual logo size */
}

.tagline {
    font-size: 1.5em;
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

.slider a {
    display: block;
    width: 100%;
    height: 100vh;
}

.slider video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.category {
    width: 30%;
    height: 200px;
    background-size: cover;
    margin: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: transform 0.5s ease;
}

.category:hover {
    transform: scale(1.05);
}

.category-title {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}
